starlette
certifi
chardet
Click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
urllib3
Werkzeug
azure-storage-blob
pybase64
flask
fastapi
uvicorn
azure-core
fastapi
uvicorn
pydantic
astroid==2.3.3
gunicorn==20.0.4